html {
	box-sizing: border-box;
	font-size: 15px;
}
*, *:after, *:before {
	box-sizing: inherit;
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
}
.start_bttn {
	padding: .8rem;
	font-size: .8rem;
	font-weight: bold;
	color: #ffffff;
	background: #63BF4F;
	border: 0;
	box-shadow: .2rem .2rem .2rem #000000;
	text-shadow: .2rem .2rem .2rem #000000;
	transition: all .3s linear;
}
.start_bttn:hover {
	padding: .85rem;
	font-size: .85rem;
}
.world_grid {
	max-width: 30rem;
	width: 30rem;
	margin: 1rem auto;
	box-shadow: inset .1rem .1rem 2rem red;
	padding: 1rem 1rem 2rem 1rem;
	overflow: hidden;
	background: linear-gradient(to bottom, #566FD3, #D2D2C8, #63BF4F);
	.bar,
	.grid {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		width: 100%;
	}
}
.water_block,
.stone_block,
.land_block {
	min-width: calc(100% / 5 - .5rem);
	max-width: calc(100% / 5 - .5rem);
	min-height: 5rem;
	max-height: 5rem;
	margin: .125rem;
	position: relative;
}
.water_block {
	// box-shadow: 1rem 1rem 1rem #B53471;
	// background: #ED4C67;
	background: url(../images/water-block.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.stone_block {
	// box-shadow: 1rem 1rem 1rem #8395a7;
	// background: #f1f2f6;
	background: url(../images/stone-block.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.land_block {
	// box-shadow: 1rem 1rem 1rem #2ed573;
	// background: #7bed9f;
	background: url(../images/grass-block.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.obstacle,
#player {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1; //Bugs were moving under tiles
	// border: 1px solid white;
}
/*.water_img,
.stone_img,
.land_img {
	width: 98%;
	height: 100%;
	background: green;
}*/